.Search {
    text-align: left;
    position: relative;
    top: 10px;
    left: 20px;
    width: 400px;
  }
  
  .Search-input {
    width: 350px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 10px;
    opacity: 60%;
  }
  
  .Search-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 11px;
    left: -40px;
    cursor: pointer;
  }
  
  .Search-icon:hover {
    transform: scale(1.1);
    filter: hue-rotate(180deg);
  }
  